<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header class="headerButton">
                会议列表
                <div>
                    <button nbButton style="width:90px;" status="primary" (click)="addMeet()">会议预约</button>
                </div>
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source"
                                 (deleteConfirm)="onDeleteConfirm($event)">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
