<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-tabset fullWidth>
                <nb-tab tabTitle="日历">
                    <div class="calendars">
                        <div class="calendar-container">
                            <nb-calendar
                                    [(date)]="date"
                                    [dayCellComponent]="dayCellComponent"
                            ></nb-calendar>
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="甘特图">
                </nb-tab>
            </nb-tabset>
        </nb-card>
    </div>
</div>
