<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>加入房间</nb-card-header>
            <nb-card-body>
                <div class="full-name-inputs">
                    <input type="text" [(ngModel)]="userId" nbInput fullWidth placeholder="用户名">
                    <input type="text" [(ngModel)]="roomId" nbInput fullWidth placeholder="房间号">
                </div>
                <button nbButton [status]="status" hero (click)="joinRoom()">
                    join room
                </button>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>远端视频</nb-card-header>
            <nb-card-body>
                <div id="remotetracks"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>本地视频</nb-card-header>
            <nb-card-body>
                <div id="localtracks"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>